#landing {
  min-height: 80vh;
  background-image: url(../img/bg_hero.png);
  background-size: cover;

  // background-position: center bottom;
  background-attachment: fixed;
  padding-top: 20px;

  .landing_cnt {
    margin-top: 50px;
    h2 {
      color: $heading-color;
      padding-right: 100px;
      font-size: 40px;
      font-weight: 600;
      text-transform: capitalize;
      span {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $heading-color;
        color: transparent;
      }
    }
    p {
      color: #626687;
      font-size: 16px;
      margin: 20px 0;
    }

    .location_search {
      .search {
        position: relative;
        display: inline-block;
        width: 100%;
        & > span {
          position: absolute;
          top: 50%;
          left: 20px;
          transform: translateY(-50%);
          font-size: 20px;
        }
        input {
          width: 100%;
          display: inline-block;
          height: 55px;
          border: none;
          border: 1px solid #e0e3eb;
          border-radius: 25px;
          text-indent: 50px;
          color: $heading-color;
          &:focus {
            outline: 1px solid $primary-color;
          }
        }
        button {
          background-color: $primary-color;
          color: white;
          width: 20%;
          min-width: 100px;
          display: inline-block;
          height: 45px;
          border: none;
          outline: none;
          border-radius: 25px;
          position: absolute;
          right: 5px;
          top: 50%;
          transform: translateY(-50%);
          span {
            transition: 0.15s ease-in-out;
          }
          &:hover span {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
