@import "./common";
@media (max-width: 991px) {
  button.navbar-toggler {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.226);
    border: none;
    border: 1px solid white;
    &:focus {
      box-shadow: none;
    }

    .secondary {
      display: none;
    }
  }
  #myNav {
    transition: 0.15s cubic-bezier(0, 1.15, 0.83, 0.67);
    ul {
      padding-top: 40px;
      li {
        margin-bottom: 15px;
        display: inline-block;

        &:last-child a {
          &:hover p {
            transform: translateY(0) !important;
          }
        }

        a {
          display: block;
          margin: auto;
          width: 50%;
          text-align: center;
          color: $heading-color;
          text-transform: capitalize;
          max-width: 300px;
          min-width: 200px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #featured .featured_top ul li {
    display: inline-block;
    margin-right: 10px;
    button {
      font-size: 20px;
      p {
        display: none;
      }
    }
  }

  #featured .featured_slider {
    margin: auto;
    margin-top: 50px;
    width: 90%;
    max-width: 1420px;
  }
}
